/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

/* commonstyle */


body {
    font-family: 'Poppins', sans-serif;

}

.carousel-item>img {

    height: 80vh;
    width: 100%;
    object-fit: cover;
    filter: brightness(50%);



}

.card {

    border-style: none;
}

.box {
    padding: 15px;
}

footer {
    height: 40vh;
    font-size: 2vh;
}



/* .carousel-caption {
    bottom: .25rem;
} */